h1 {
	color: orange;
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border: 8px dashed purple;
}

li {
	color: green;
}

h4 {
	background: rgb(255, 100, 80);
}

body {
	background: pink;
	/* background: url(https://c.stocksy.com/a/H4L900/z9/2225941.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	
}