p {
	font-family: "Arial";
	font-weight: bold;
	line-height: 1.5;
	text-align: right;
}

h1 {
	font-family: 'Montserrat Alternates';
	font-size: 80px;
	text-align: center;
	text-decoration: underline;
}

span {
	font-size: 2.0em;
}
